{% extends 'header.html'%}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
	<style>
		body {
			background-color: #44495D; 
		}
	</style>

<body>
		
	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Wishlist</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- products -->
	 
	<div class="product-section mt-150 mb-150">
		<div class="container">

			<div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".strawberry">Strawberry</li>
                            <li data-filter=".berry">Berry</li>
                            <li data-filter=".lemon">Lemon</li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="row">
                {% for i in wishlist %}
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a href="{% url 'bdetails' pk=i.product.pk %}"><img src="{{i.product.pimage.url}}" alt=""></a>
                        </div>
                        <h3>{{i.product.pname}}</h3>
                        <p class="product-price"><span>Per Kg</span> {{i.product.pprice}}</p>
                        <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        <br>
                        <br>
						<a href="{% url 'wishdelete' pk=i.pk %}" class="cart-btn"><i class="fa fa-heart-o" ></i>Remove from Wishlist</a>
                    </div>
                </div>
                {% endfor %} 
            </div>		
		</div>
	</div>
	<!-- end products -->



</body>
</html>

{% endblock %}